<div class="container py-2 m-2">    
    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2024/04/07/22/14/ai-8682300_1280.jpg" alt="cantilever">
        <div class="card-body">
            <h1 class="h5 card-title">card </h1>
            <h2 class="h6 card-subtitle text-muted mb-2">Card subtitle</h2>
            <p class="card-test">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque adipisci atque voluptates numquam, ad laborum veritatis amet reiciendis eligendi
                laboriosam, dignissimos odio a eveniet nulla. Maxime dignissimos voluptatibus nesciunt rerum.
            </p>
        </div>
    </div>    
</div>